<footer>
    <div class="footer-main p-relative bg-color-purple fix">
       <div class="shape-1" data-background="./assets/imgs/footer/footer-shape-1.png"></div>
       <div class="container">
          <div class="footer-upper pt-80 pb-50">
             <div class="row">
                <div class="col-lg-3">
                   <div class="footer-widget-1 p-relative">
                      <a href="index.html"><img src="./assets/imgs/footer-logo.png" alt="logo"></a>
                      <p class="mt-40 mb-40">Thinking of studying abroad? We’re here to guide you every step of the way. Connect us on Odyssey Abroad.</p>
                      <div class="footer-contact">
                         <ul class="contact-info mb-25">
                            <li><a href="tel:+88123456987231"><i class="icon-36"></i>+91 87 99 22 86 48</a></li>
                            <li><a href="mailto:info@odysseyabroad.com"><i class="icon-74"></i>info@odysseyabroad.com</a></li>
                            <li>
                               <a href="https://g.co/kgs/4bZCB2J" target="_blank">
                                  <i class="icon-35"></i> Exult Shoppers, Vesu, Surat
                               </a>
                            </li>
                         </ul>
                         <ul class="socials-info">
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-42"></i></a></li>
                            <li><a href="#"><i class="icon-43"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3">
                   <div class="footer-widget-2 pl-10 p-relative">
                      <h5 class="fw-title">Explore</h5>
                      <ul>
                         <li><a href="./about.html">About Company</a></li>
                         <li><a href="./services.html">What We Provide</a></li>
                         <li><a href="./contact.html">Contact Us</a></li>
                      </ul>
                   </div>
                </div>
                <div class="col-lg-3">
                   <div class="footer-widget-2 p-relative">
                      <h5 class="fw-title">Services</h5>
                      <ul>
                         <li><a href="./contact.html">Coaching</a></li>
                         <li><a href="./contact.html">Students Visa</a></li>
                         <li><a href="./contact.html">Visitor Visa</a></li>
                         <li><a href="./contact.html">Tourist Visa</a></li>
                      </ul>
                   </div>
                </div>
                <div class="col-lg-3">
                   <div class="footer-widget-3 p-relative">
                      <h5 class="fw-title">Open Time</h5>
                      <div class="time-area">
                         <div class="one mb-30">
                            <h5>Monday - Saturday: </h5>
                            <span>09.00 am to 07.00 pm (IST)</span>
                         </div>
                         <div class="tow">
                            <h5>Sunday: </h5>
                            <span>Open by Appointment Only (Please call or email us to schedule an appointment)</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>  
          </div> 
          <div class="footer-bottom pt-20 pb-20 text-center p-relative">
             <h6>© 2024 <a href="index.html">Odyssey</a>, All Rights Reserved</h6>
          </div>        
       </div>
    </div>
 </footer>