<!-- Offcanvas area start -->
<div class="fix">
   <div class="offcanvas__info">
       <div class="offcanvas__wrapper">
           <div class="offcanvas__content">
               <div class="offcanvas__top mb-10 d-flex justify-content-between align-items-center">
                   <div class="offcanvas__logo">
                       <a href="index.html">
                           <img src="./assets/imgs/footer-logo.png" alt="Header Logo" width="180px">
                       </a>
                   </div>
                   <div class="offcanvas__close">
                       <button>
                           <i class="fal fa-times"></i>
                       </button>
                   </div>
               </div>
               <div class="offcanvas__search mb-25">
                   <p class="text-white">With 6 years of experience in the industry, we understand the challenges
                       students face when planning their education abroad. Many come to us with a lot of issues, but
                       what sets us apart is our commitment to providing the best support to help students achieve
                       their dreams. We know how important this journey is for them, and we’re here to make it as
                       smooth as possible!</p>
               </div>
               <div class="mobile-menu fix mb-40"></div>
               <div class="offcanvas__contact mb-20">
                   <h4>Contact Info</h4>
                   <ul>
                       <li class="d-flex align-items-center">
                           <div class="offcanvas__contact-icon mr-15">
                               <i class="fal fa-map-marker-alt"></i>
                           </div>
                           <div class="offcanvas__contact-text">
                               <a target="_blank" href="https://g.co/kgs/4bZCB2J">Exult Shoppers, Vesu, Surat
                               </a>
                           </div>
                       </li>
                       <li class="d-flex align-items-center">
                           <div class="offcanvas__contact-icon mr-15">
                               <i class="far fa-phone"></i>
                           </div>
                           <div class="offcanvas__contact-text">
                               <a href="tel:+918799228648">+91 87 99 22 86 48</a>
                           </div>
                       </li>
                       <li class="d-flex align-items-center">
                           <div class="offcanvas__contact-icon mr-15">
                               <i class="fal fa-envelope"></i>
                           </div>
                           <div class="offcanvas__contact-text">
                               <a href="tel:+012-345-6789"><span
                                       class="mailto:support@example.com">info@odysseyabroad.com</span></a>
                           </div>
                       </li>
                   </ul>
               </div>
               <div class="offcanvas__input mt-30 mb-30">
                   <div class="offcanvas__contact">
                       <h4>Get Update</h4>
                   </div>
                   <form action="#">
                       <div class="p-relative">
                           <input type="text" placeholder="Enter mail">
                           <button>
                               <i class="fas fa-paper-plane"></i>
                           </button>
                       </div>
                   </form>
               </div>
               <div class="offcanvas__social">
                   <ul>
                       <li>
                           <a href="https://www.instagram.com/odysseyabroad_/" target="_blank">
                               <i class="icon-37"></i>
                           </a>
                       </li>
                       <li>
                           <a href="https://www.facebook.com/people/Odyssey-Abroad/61568396972108/?mibextid=LQQJ4d"
                               target="_blank">
                               <i class="icon-42"></i>
                           </a>
                       </li>
                       <li>
                           <a href="https://www.linkedin.com/company/odyssey-abroad/" target="_blank">
                               <i class="icon-43"></i>
                           </a>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="offcanvas__overlay"></div>
<div class="offcanvas__overlay-white"></div>
<!-- Offcanvas area start -->

<!-- Header area start -->
<header class="header-four p-relative">
   <div class="header-top-4 bg-color-2">
      <div class="container-fluid">
         <div class="header-info">
            <ul class="d-flex">
               <li><i class="icon-1"></i> info@odysseyabroad.com</li>
               <li><i class="icon-2"></i> Exult Shoppers, Vesu, Surat</li>
               <li><i class="icon-3"></i> Mon - Sat / 9:00 AM - 06:00 PM </li>
            </ul>
         </div>
         <div class="socials-info-1 bg-color-7">
            <ul class="two d-flex">
               <li>
                  <a href="https://www.instagram.com/odysseyabroad_/" target="_blank">
                     <i class="icon-37"></i>
                  </a>
               </li>
               <li>
                  <a href="https://www.facebook.com/people/Odyssey-Abroad/61568396972108/?mibextid=LQQJ4d"
                     target="_blank">
                     <i class="icon-42"></i>
                  </a>
               </li>
               <li>
                  <a href="https://www.linkedin.com/company/odyssey-abroad/" target="_blank">
                     <i class="icon-43"></i>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div id="header-sticky" class="header-area">
      <div class="header-box-main">
         <div class="container">
            <div class="mega-menu-wrapper">
               <div class="header-main">
                  <div class="header-left">
                     <div class="header-logo">
                        <a href="index.html">
                           <img src="assets/imgs/OA logo.png" alt="header logo" width="150px">
                        </a>
                     </div>
                     <div class="mean__menu-wrapper d-none d-lg-block">
                        <div class="main-menu">
                           <nav id="mobile-menu">
                              <ul>
                                 <li>
                                    <a href="index.html">Home</a>
                                 </li>
                                 <li id="nav-about">
                                    <a href="about.html">About</a>
                                 </li>
                                 <li id="nav-services">
                                    <a href="services.html">Services</a>
                                 </li>
                                 <li id="nav-contact">
                                    <a href="contact.html">Contact</a>
                                 </li>
                                 <li class="has-dropdown">
                                    <a href="javascript: void(0);">Explore Destinations</a>
                                    <ul class="submenu">
                                       <li id="nav-uk"><a href="./uk.html">Study In UK</a></li>
                                       <li id="nav-usa"><a href="./usa.html">Study In USA</a></li>
                                       <li id="nav-finland"><a href="./finland.html">Study In Finland</a></li>
                                       <li id="nav-germany"><a href="./germany.html">Study In Germnay</a></li>
                                       <li id="nav-france"><a href="./france.html">Study In France</a></li>
                                       <li id="nav-denmark"><a href="./denmark.html">Study In Denmark</a></li>
                                       <li id="nav-ireland"><a href="./ireland.html">Study In Ireland</a></li>
                                       <li id="nav-dubai"><a href="./dubai.html">Study In Dubai</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </nav>
                           <!-- for wp -->
                           <div class="header__hamburger ml-50 d-none">
                              <button type="button" class="hamburger-btn offcanvas-open-btn">
                                 <span>01</span>
                                 <span>01</span>
                                 <span>01</span>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="header-right d-flex align-items-center">
                     <div class="header__hamburger d-inline-flex">
                        <div class="sidebar__toggle">
                           <a href="javascript:void(0)">
                              <i class="icon-45"></i>
                           </a>
                        </div>
                     </div>
                     <div class="header-call-us d-xl-inline-flex d-none">
                        <div class="icon-box">
                           <svg width="53" height="53" viewBox="0 0 53 53" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M31.4058 6.35513C28.1145 4.32519 24.2144 3.20898 20.1855 3.20898C9.21848 3.20898 0 11.3798 0 21.8418C0 25.5099 1.1395 29.0262 3.30401 32.063L0.28032 41.556C-0.0391289 42.5588 0.711981 43.5801 1.76008 43.5801C1.99971 43.5801 2.24091 43.5247 2.46346 43.4115L11.659 38.736C12.0313 38.8963 12.4083 39.0455 12.7891 39.184C10.6601 35.8609 9.52344 32.0464 9.52344 28.0527C9.52344 16.1591 19.5311 7.01546 31.4058 6.35513Z"
                                 fill="#f18f01" />
                              <path
                                 d="M49.696 38.274C51.8605 35.2371 53 31.7208 53 28.0527C53 17.5869 43.7776 9.41992 32.8145 9.41992C21.8474 9.41992 12.6289 17.5907 12.6289 28.0527C12.6289 38.5186 21.8513 46.6855 32.8145 46.6855C35.7561 46.6855 38.6871 46.0861 41.3405 44.9467L50.5365 49.6224C51.0946 49.9061 51.7687 49.8269 52.2458 49.4215C52.7229 49.016 52.9098 48.3636 52.7198 47.7671L49.696 38.274ZM26.5 29.6055C25.6425 29.6055 24.9473 28.9103 24.9473 28.0527C24.9473 27.1952 25.6425 26.5 26.5 26.5C27.3575 26.5 28.0527 27.1952 28.0527 28.0527C28.0527 28.9103 27.3575 29.6055 26.5 29.6055ZM32.7109 29.6055C31.8534 29.6055 31.1582 28.9103 31.1582 28.0527C31.1582 27.1952 31.8534 26.5 32.7109 26.5C33.5685 26.5 34.2637 27.1952 34.2637 28.0527C34.2637 28.9103 33.5685 29.6055 32.7109 29.6055ZM38.9219 29.6055C38.0644 29.6055 37.3691 28.9103 37.3691 28.0527C37.3691 27.1952 38.0644 26.5 38.9219 26.5C39.7794 26.5 40.4746 27.1952 40.4746 28.0527C40.4746 28.9103 39.7794 29.6055 38.9219 29.6055Z"
                                 fill="#727272" />
                           </svg>
                        </div>
                        <div class="contact-num">
                           <span>Chat Us Anytime</span>
                           <h5><a href="tel:8799228648">+91 87 99 22 86 48</a></h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- Header area end -->